body{
	font-family:sans-serif;
	width:100%;
	overflow-x:hidden;
	background-color:rgb(64,64,64);
}
#view{
	position:relative;
	height:100%;
	width:100%;
	padding-top:5rem;
	z-index:2;
}
#view-background{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgb(64,64,64);
	box-shadow:0 0 2rem 1rem #000000;
	z-index:1;
}
.page{
	margin-bottom:3rem;
}
/******************/
/* Navigation Bar */
/******************/
#navigation-bar,#navigation-bar button{
	background-color:maroon;
	color:white;
	font-size:2rem;
}
/*************/
/* Edit Game */
/*************/
#edit-game-page{
	color:#FFFFFF;
}
.check-label{
	margin-left:0.5rem;
	font-weight:normal;
	font-size:2rem;
}
.check{
	width:1.5rem;
	height:1.5rem;
	margin-top:0.6rem;
	border:0.2rem solid black;
	float:left;
}
.check-civilian{
	background-color:#009dff;
}
.check-trait{
	background-color:#00b233;
}
.check-mafia{
	background-color:#ff0000;
}
#player-count,#mafia-count,#civilian-count,#player-name{
	width:100%;
	height:5rem;
	position:relative;
	font-size:2.5rem;
	opacity:1.0;
	cursor:pointer;
	z-index:1;
}
/********/
/* Game */
/********/
#game-page-new-game{
	border:1rem solid rgb(64,64,64);
	background-color:rgb(255,255,255);
	width:100%;
	height:10rem;
	font-size:2rem;
}
/****************/
/* Player State */
/****************/
.player{
	display:block;
	width:100%;
	height:6rem;
	background-color:white;
	padding:0;
	border:0 solid red;
	text-align:left;
}
.player+.player{
	border-top:0.1rem solid #d0d0d0;
}
.player+.player.Dead,.player.Dead+.player{
	border-top:0.1rem solid rgb(63,63,63);
}
.player .player-color{
	width:1.5rem;
	height:100%;
	float:left;
}
.player .player-info{
	padding-left:3rem;
}
.player h4{
	margin-bottom:0;
}
.Alive,.Alive:hover{
	background-color:white;
}
.Alive:active{
	background-color:lightgray;
}
.Dying,.Dying:hover{
	background-color:orange;
}
.Dying:active{
	background-color:darkorange;
}
.Dead,.Dead:hover{
	color:rgb(127,127,127);
	background-color:transparent;
}
.Dead:active{
	background-color:transparent;
}
.Dead .player-color{
	opacity:0;
}
/********/
/* Misc */
/********/
.red{
	color:#ff0000;
}
.blue{
	color:#009dff;
}
.yellow{
	color:#fffc19;
}
.noise{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
{
