@media not all and (min-width:600px) {
	.mcontainer{
		padding-left:2rem;
		padding-right:2rem;
	}
}

@media (min-width: 600px) {
	.mcontainer{
		padding-left:2rem;
		padding-right:2rem;
	}
	.mrow{
		margin-left:-1rem;
		margin-right:-1rem;
	}
	.col-4{
		float:left;
		width:33.3333%;
		padding-left:1rem;
		padding-right:1rem;
	}
	.col-6{
		float:left;
		width:50%;
		padding-left:1rem;
		padding-right:1rem;
	}
}
/****************/
/* DOM Elements */
/****************/
html{
	font-size:10px;
}
body{
	margin:0;
	font-size:14px;
}
a,a:hover,a:focus{
	color:black;
	text-decoration:none;
}
h1{
	font-size:3.5rem;
}
h2{
	font-size:3rem;
}
h3{
	font-size:2.5rem;
}
h4{
	font-size:2rem;
}
/***************/
/* Positioning */
/***************/
.left{
	float:left;
}
.right{
	float:right;
}
/**************/
/* List Group */
/**************/
.mlist-group{
	margin-bottom:20px;
	padding-left:0;
}
.mlist-group-item{
	position:relative;
	display:block;
	padding:1rem 1.5rem;
	margin-bottom: -0.1rem;
	color:black;
	background-color:white;
	border:0.1rem solid #dddddd;
	cursor:pointer
}
.mlist-group-item:first-child{
	*border-top-left-radius: 0.4em;
	*border-top-right-radius: 0.4em;
}
.mlist-group-item:last-child{
	*border-bottom-left-radius: 0.4em;
	*border-bottom-right-radius: 0.4em;
}
.mlist-group-item .mlist-group-item-heading{
	margin-top:0rem;
	margin-bottom:0.5rem;
}
.mlist-group-item .mlist-group-item-text{
	margin-bottom:0px;
}
/********/
/* Page */
/********/
.page{
	display:none;
}
.action-button{
	display:none;
}
/********************/
/* View Click Cover */
/********************/
#view-click-cover{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	z-index:999;
	background-color:transparent;
	cursor:pointer;
}
/******************/
/* Navigation Bar */
/******************/
#navigation-bar{
	position:fixed;
	width:100%;
	height:5rem;
	top:0;
	background-color:#000000;
	margin-bottom:2rem;
	z-index:99;
}
#navigation-bar>.mcontainer{
	text-align:center;
	vertical-align:middle;
}
#navigation-bar>.mcontainer>span{
	position:relative;
	top:1.5rem;
	color:white;
	font-size:1.5rem;
}
#navigation-bar button{
	display:block;
	width:5rem;
	height:5rem;
	border:0px;
	background-color:#404040;
}
/*************/
/* Side Pane */
/*************/
.side-pane{
	position:fixed;
	display:none;
	width:24rem;
	height:100%;
	top:0;
	color:#999999;
	background-color:#000000;
	border:0.1em solid #080808;
	font-size:1.5rem;
	z-index:0;
	padding-top:2rem;
	padding-bottom:2rem;
	overflow:auto;
}
.navigation-pane>button{
	display:block;
	height:5rem;
	width:100%;
	padding-left:2rem;
	color:white;
	background-color:transparent;
	border:0px solid transparent;
	text-align:left;
}
.navigation-pane>label{
	padding-left:2rem;
}
.navigation-pane>button.active{
	background-color:rgba(63,63,63,0.5);
}
.action-pane{
	padding-left:1rem;
	padding-right:1rem;
	right:0;
}










